{% extends admin_base_view %}

{% block body -%}
    <h1>{{ 'he8us.feedback.layout.feedback.list.title' | trans }}</h1>
    {% include 'He8usFeedbackBundle:FeedbackAdmin:index_content.html.twig' %}
{% endblock %}
