{% extends admin_base_view %}
{% block body -%}
    <h1>{{ 'he8us.feedback.layout.feedback.reply.title' | trans }}</h1>

    {% include '@He8usFeedback/FeedbackAdmin/reply_content.html.twig' %}
{% endblock %}
