{% extends admin_base_view %}

{% block body %}
    <h1>{{ 'he8us.feedback.layout.category.edit.title' | trans }}</h1>

    {% include "@He8usFeedback/Category/edit_content.html.twig" %}
{% endblock %}
