{% extends admin_base_view %}

{% block body %}
    <h1>{{ 'he8us.feedback.layout.category.list.title' | trans }}</h1>

    {% include '@He8usFeedback/Category/index_content.html.twig' %}
{% endblock %}
