{% extends admin_base_view %}

{% block body %}
    <h1>{{ 'he8us.feedback.layout.category.show.title' | trans }}</h1>

    {% include '@He8usFeedback/Category/show_content.html.twig' %}
{% endblock %}
